
<div class="row justify-content-center mt-5">
    <div class="mb-5">
        <form class="max-w-sm mx-auto" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
          <div class="mb-2">
            <label>Name</label>
            <input class="form-control" type="text" formControlName="title" required>
          </div>
  
          <!-- <mat-form-field>
            <mat-label>Enter Book Title</mat-label>
            <input matInput placeholder="Ex. Harry Potter" formControlName="title">
          </mat-form-field>  -->
   
          <div class="mb-2">
            <label>Amount</label>
            <input class="form-control" type="text" formControlName="price" required>
          </div>
   
          <div class="mb-2">
            <label>Message</label>
            <input class="form-control" type="text" formControlName="description" required>
          </div>
          
        
          <div class="mb-2">
              <button mat-flat-button color="primary" type="submit">Donate</button>
          </div>
          
          
        </form>
    </div>
  
  </div>